{# templates/cart/checkout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Passer à la caisse</h1>
        <p>Cette page est destinée à traiter les paiements et finaliser la commande.</p>
        <!-- Vous pouvez ajouter ici le formulaire de paiement ou d'autres éléments nécessaires -->
    </main>
{% endblock %}
